{% extends "base.html" %}

{% block title %} Andy's Seafood {% endblock title %}

{% block content %}
  <main>
    <div class="welcome">
      <p class="home_welcome">Welcome to Andy's Seafood</p>
    </div>
    <div class="latest_product">

    </div>
    <div class="home_subscribe">
      <h1>Stay in the Know!</h1>
      <h2>TO GET THE LATEST PRODUCT TO YOU INBOX</h2>
      <a href="/subscribe"><button class="sub_button">SUBSCRIBE</button><a>
    </div>
  </div>
  </main>
{% endblock content %}
